@import url(/css/reset.css)

* {
	box-sizing: border-box;
}

.header-container {
	width: 100%;
	height: 100vh;
	background-image: url(../img/photo.png);
	background-size: cover;
	background-position: center;
	background-color: #D5A537;
}

